.container {
  width: 80rem;
  max-width: 90%;
  margin: 0 auto;
}
.btn-brand {
  padding: 0.6rem 1.8rem;
  font-size: 1.25rem;
  color: $light-theme-bg-primary;
  letter-spacing: 0.4px;
  border-radius: 0.3rem;
  background: $brand-color;
  cursor: pointer;
  @include transition-ease;
  &:hover {
    background: $brand-color-light;
  }
  &:active {
    transform: scale(0.98);
    transition: none !important;
  }
}
.btn-google {
  display: inline-block;
  width: 100%;
  padding: 0.6rem 1.7rem;
  border: 1px solid $dark-theme-border;
  margin-top: 2rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
  @include flex-center(row);
  gap: 0.7rem;
  svg {
    font-size: 1.4rem;
  }
}
.progress-bar {
  position: relative;
  width: 90%;
  height: 0.9rem;
  border-radius: 1rem;
  background: transparent;
  border: 1px solid $dark-theme-border;
  .progress {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 1rem;
    background: linear-gradient(to right, $brand-color, $green-color);
    animation: colorChange 4s linear infinite;
    @keyframes colorChange {
      0%,
      100% {
        filter: hue-rotate(0deg);
      }
      50% {
        filter: hue-rotate(90deg);
      }
    }
  }
}
