$light-theme-bg-primary: #f1f1f1;
$light-theme-bg-secondary: #d1d0d0;
$light-theme-border: #a3a3a3;
$dark-theme-bg-primary: #232323;
$dark-theme-bg-primary-1: #2c2c2c;
$dark-theme-bg-secondary: #3e3e3e;
$dark-theme-border: #616161;
$dark-theme-border-light: #424242;
$brand-color: #337be0;
$brand-color-light: #468beb;
$red-color: #e03434;
$green-color: #219b70;
