.profile {
  .content {
    width: 100%;
    @include flex-align-center(row);
    gap: 4rem;

    .left .avatar {
      border: 4px solid $brand-color !important;
      border-radius: 50%;
    }
    .right {
      .info {
        margin-bottom: 2rem;
        .info-group {
          width: 100%;
          font-size: 1.5rem;
          margin-bottom: 1rem;
          color: $light-theme-bg-primary;
          @include flex-align-center(row);
          gap: 0.5rem;
          white-space: nowrap;
          span {
            display: block;
            flex: 1;
            color: $light-theme-border;
            border-bottom: 1px solid $light-theme-border;
          }
        }
      }
      .action-group {
        @include flex-align-center(row);
        gap: 2rem;
      }
    }

    @include media-lg {
      gap: 4rem;
      .right {
        width: 70%;
        .info .info-group {
          font-size: 1.1rem !important;
        }
        .action-group {
          gap: 1rem !important;
          flex-direction: column;
          width: 100%;
          align-items: unset;
        }
      }
    }
    @include media-md {
      flex-direction: column;
      .right {
        width: 80%;
        .info .info-group {
          font-size: 1.1rem !important;
        }
      }
    }
    @include media-sm {
      .right {
        width: 100%;
      }
    }
  }
}
